{
    box-sizing: border-box
}

.container {
    background: lightblue
    padding: 25px;
    max-width: 760px;
    margin: 25px auto;
    border-radius: 10px;
    border: 4px #09EBCA;
    font-family: sans-serif;
}
h1, h2 {
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px  #09EBCA;
    padding: 0 0 10px;
    color: midnightblue;
}
.box{

}
.To-Do Form{

}
.completed completed to-do list;{
    
}

